<table class="table user-info">
  <thead>
    <tr>
      <th colspan="2"><h1 class="text-center"><%= @current_user.fullname %></h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><%= @current_user.email %></td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td><%= @current_user.fullname %></td>
    </tr>
    <tr>
      <th scope="row">placeholder</th>
      <td>Larry</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class=row>
        <%= link_to 'Edit', edit_user_path, :class=>"btn btn-primary mx-auto btn-block col-md-4 offset-md-4" %>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<style>

  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .user-info {
    width: 90%;
    max-width: 960px;
    margin: auto;
  }

</style>
